#main.grid {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    resize: horizontal;
    overflow: auto;
}

#main.grid > column {
    display: grid;
    min-width: 10%;
    max-width: 70%;
    resize: horizontal;
    overflow: auto;
}

.column {
    border: 1px solid black;
}

.column-title {
    text-align: center;
    background-color: #ccc;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
}

.column-body {
    padding: 0.5rem;
}

.column-title:hover {
    background-color: #ddd;
}