

.column {
    border: 1px solid black;
}

.column-title {
    text-align: center;
    background-color: #ccc;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
}

.column-body {
    padding: 0.5rem;
}

.column-title:hover {
    background-color: #ddd;
}